@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.ttf?itryss') format('truetype'), url('../fonts/icons.woff?itryss') format('woff'), url('../fonts/icons.svg?itryss#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-building:before {
    content: "\e900";
}

.icon-chill_industries:before {
    content: "\e901";
    color: #fff;
}

.icon-facebook:before {
    content: "\e902";
}

.icon-finalizing:before {
    content: "\e903";
}

.icon-hill_hayes:before {
    content: "\e904";
    color: #fff;
}

.icon-instagram:before {
    content: "\e905";
}

.icon-riksgransen:before {
    content: "\e906";
    color: #fff;
}

.icon-sketching:before {
    content: "\e907";
}

.icon-studio_cai:before {
    content: "\e908";
    color: #fff;
}

.icon-twitter:before {
    content: "\e909";
}